.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10lvh 5lvw;

  .main {
    width: 100%;
    max-width: 90rem;
    display: flex;
    justify-content: flex-end;
  }
}
