.cursor {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border: 1px solid #aaaaaa25;
  background-color: #aaaaaa15;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border-radius: 100%;
  transition: top 0.1s, left 0.1s, transform 0.3s;
  transform-origin: center;
}

@media (max-width: 800px) {
  .cursor {
    display: none !important;
  }
}
