.cursor {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border: 1px solid #b21b1650;
  background-color: #b21b1625;
  backdrop-filter: blur(0.15rem);
  -webkit-backdrop-filter: blur(0.15rem);
  border-radius: 100%;
  transition: top 0.1s, left 0.1s, transform 0.3s;
  transform-origin: center;
}

@media (max-width: 600px) {
  .cursor {
    display: none !important;
  }
}
