.main {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  padding: 5lvh 0lvh;
  width: 100%;
  border-top: 1px solid #aaaaaa25;
  border-bottom: 1px solid #aaaaaa25;

  .slider {
    position: relative;
    white-space: nowrap;

    p:nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 100%;
    }
  }
}
